<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample</title>

</head>
<body>
<div ng-app="myApp" ng-controller="View3Ctrl">
    <div class="container">
        <div class="form-group">
            <label for="title">Alarm Title:</label>
            <input type="text" class="form-control" id="title" ng-model="title" placeholder="Enter Alarm Title" name="email">
        </div>
        <div class="form-group">
            <label for="time">Time:</label>
            <input type="date" class="form-control" id="time" ng-model="time" placeholder="Enter Time " name="pwd">
        </div>
        <button type="button" class="btn btn-default" ng-click="add()">Add item</button>
    </div>
</div>
</body>
</html>